#todo-form {
    border: 1px solid black;
    width: 500px;
    height: 240px;
    background-color: gainsboro;
    margin-top: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#label {
    margin: 0px;
}

#btn-ctn {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

#todo-item {
    margin: 20px;
    width: 500px;
    background-color: aliceblue;

    display: block;
}
